<!DOCTYPE html>
<html lang="en">
<head>
  <title>Example app</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <link href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">

</head>
<body>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
 </head>
 <body ng-app="myApp">
   <div class="header">
     <div class="container">
       <h1>Book End</h1>
     </div>
   </div>

   <div class="main" ng-controller="MainController">
     <div class="container">

       <h1>{{ title }}</h1>
       <h2>{{ promo }}</h2>

       <div ng-repeat="pic in pics" class="col-md-6">
         <div class="thumbnail">
           <img ng-src="{{ pic.cover }}">
           <p class="title">{{ pic.name }}</p>
           <p class="price">{{ pic.price | currency }}</p>
           <p class="date">{{ pic.pubdate | uppercase }}</p>
           <div class="rating">
            <p class="likes" ng-click="plusOne($index)">+{{pic.likes}}</p>
            <p class="dislikes" ng-click="minusOne($index)">-{{pic.dislikes}}</p>
            </div>
         </div>
       </div>

     </div>
   </div>

   <div class="footer">
     <div class="container">
       <h2>Available for iPhone and Android.</h2>
       <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/app-store.png" width="120px" />
       <img src="https://s3.amazonaws.com/codecademy-content/projects/shutterbugg/google-play.png" width="110px" />
     </div>
   </div>


   <!-- Modules -->
   <script src="js/app.js"></script>

   <!-- Controllers -->
   <script src="js/controllers/MainController.js"></script>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers/MainController.js"></script>
</body>
</html>
